{% extends 'bootstrap/base.html' %}

{% block title %}
    {% if title %}
    {{ title }} - Cook-o-matic
    {% else %}
    Cook-o-matic - Welcome!
    {% endif %}
{% endblock %}

{% block navbar %}
    <div class="navbar navbar-default">Cook-o-matic: 
        <a href="{{ url_for('index') }}">Home</a>
        <a href="{{ url_for('new_recipe') }}">New recipe</a>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        {% block app_content %}{% endblock %}
    </div>
{% endblock %}
